<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="83a2f9">  <td>20/09/24 17:48:02</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AttendenceTest.OpenAttendPage()[pri:0, instance:emp.attendence.AttendenceTest@6e1567f1]">OpenAttendPage</td> 
  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>20/09/24 17:47:35</td>   <td>-27540</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.Start()[pri:0, instance:emp.attendence.AttendenceTest@6e1567f1]">&gt;&gt;Start</td> 
<td>&nbsp;</td>  <td>main@1335298403</td>   <td></td> </tr>
</table>
