<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d2b987">  <td>20/09/24 12:15:41</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;testBase.ChromeBrowser()[pri:0, instance:Ecommerce.youGo.ChapterOneTest@56ef9176]">&gt;&gt;ChromeBrowser</td> 
<td>&nbsp;</td>  <td>main@2142003995</td>   <td></td> </tr>
<tr bgcolor="aeed8f">  <td>20/09/24 12:15:56</td>   <td>14440</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChapterOneTest.chapterOneParamter()[pri:0, instance:Ecommerce.youGo.ChapterOneTest@56ef9176]">chapterOneParamter</td> 
  <td>main@2142003995</td>   <td></td> </tr>
</table>
